<br />
<a href="~/Home/One">1</a>
<br />
<a href="~/Home/Two">2</a>
<br />
<a href="~/Home/Three">3</a>
<br />
<a href="~/Home/Four">4</a>
<br />
<a href="~/Home/Five">5</a>
<br />
<a href="~/Home/Six">6</a>