<audio controls id="buzzer" hidden>
	<source src="~/Content/BuzzThesis.mp3" type="audio/mpeg">
</audio>
<br />
<br />
<div id="messageArea"></div>
<br />
<br />
<center>
	<table border="1">
		<tr style="width: 900px;">
			<td style="width: 300px;">Points</td>
			<td style="width: 300px;" id="dScoreContainer">0</td>
			<td style="width: 300px;" id="kScoreContainer">0</td>
		</tr>
	</table>
</center>
<script src='~/Scripts/run2.js'></script>